@import 'colors';

.user-list ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  font-size: 1em;
  text-transform: uppercase;
}

.person {
  width: 400px;
  background: $b-primary;
  color: white;
  display: block;
  padding: 32px 64px;
}

.user-list li {
  border-top: 1px solid $white;
}
